In [75]:
import pandas as pd
import numpy as np

In [14]:
df = pd.read_csv("titanic_data.csv", index_col="PassengerId")
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### 1. Какое количество мужчин и женщин ехало на корабле? В качестве ответа приведите два числа через пробел.

In [11]:
df['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [13]:
print(df['Sex'].value_counts()[0], df['Sex'].value_counts()[1])

577 314

### 2. Какой части пассажиров удалось выжить? Посчитайте долю выживших пассажиров. Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен), округлив до двух знаков.

In [19]:
df['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [68]:
surv = df['Survived'].value_counts()[1]
dead = df['Survived'].value_counts()[0]
surv_part = surv / (surv + dead) 
print(round(surv_part * 100, 2))

38.38

### 3. Какую долю пассажиры первого класса составляли среди всех пассажиров? Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен), округлив до двух знаков.
Какого возраста были пассажиры? Посчитайте среднее и медиану возраста пассажиров. В качестве ответа приведите два числа через пробел.
Коррелируют ли число братьев/сестер/супругов с числом родителей/детей? Посчитайте корреляцию Пирсона между признаками SibSp и Parch.
Какое самое популярное женское имя на корабле? Извлеките из полного имени пассажира (колонка Name) его личное имя (First Name). Это задание — типичный пример того, с чем сталкивается специалист по анализу данных. Данные очень разнородные и шумные, но из них требуется извлечь необходимую информацию. Попробуйте вручную разобрать несколько значений столбца Name и выработать правило для извлечения имен, а также разделения их на женские и мужские.

In [41]:
classes = df["Pclass"].value_counts()
classes

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [46]:
first_class = classes[1]
first_class

216

In [69]:
first_class_part = first_class / df["Pclass"].count()
print(round(first_class_part * 100, 2))

24.24

### 4. Какого возраста были пассажиры? Посчитайте среднее и медиану возраста пассажиров. В качестве ответа приведите два числа через пробел.

In [71]:
mean_age = df["Age"].mean()
med_age  = df["Age"].median()
print(round(mean_age, 2), med_age)

29.7 28.0

### 5. Коррелируют ли число братьев/сестер/супругов с числом родителей/детей? Посчитайте корреляцию Пирсона между признаками SibSp и Parch.

In [92]:
corr_res = np.corrcoef(df["SibSp"], df["Parch"])
print(corr_res)
print("\nresult", round(corr_res[0][1], 2))

[[1.        0.4148377]
 [0.4148377 1.       ]]

result 0.41

### 6. Какое самое популярное женское имя на корабле?

In [104]:
# chose all females
df_fem = df[df["Sex"] == "female"]
df_fem.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [106]:
full_names = df_fem["Name"]
full_names[:10]

PassengerId
2     Cumings, Mrs. John Bradley (Florence Briggs Th...
3                                Heikkinen, Miss. Laina
4          Futrelle, Mrs. Jacques Heath (Lily May Peel)
9     Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
10                  Nasser, Mrs. Nicholas (Adele Achem)
11                      Sandstrom, Miss. Marguerite Rut
12                             Bonnell, Miss. Elizabeth
15                 Vestrom, Miss. Hulda Amanda Adolfina
16                     Hewlett, Mrs. (Mary D Kingcome)
19    Vander Planke, Mrs. Julius (Emelia Maria Vande...
Name: Name, dtype: object

In [109]:
cnt = {} #name occurience
for name in full_names:
    vec = name.split()
    for item in vec:
        if item not in cnt:
            cnt[item] = 1
        else:
            cnt[item] += 1
for key, val in cnt.items():
    if val > 10:
        print(key, val)

Mrs. 125
Miss. 182
Anna 11
William 15
Mary 13